<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'web_app_theme','application' %>
  <%= javascript_include_tag :application,'jquery.youtubepopup', :cache => true %>
  <%#= javascript_include_tag 'jquery.youtubepopup', :cache => true %> 
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/"><%= title %></a></h1>     
       <div id="search_form">
	 <%= render "/layouts/search" %>
       </div>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="/" class="<%=@index_tab%>"><%= t("web-app-theme.profile", :default => "Home") %></a></li>                    
          <% if cookies[:acess_token].blank? %>
          <li>
            <a href="<%= @oauth_url%>"><%= t("web-app-theme.logout", :default => "Facebook Connect") %></a>
          </li>
          <% else %>
          <li><a href="/user/<%= cookies[:uuid]%>" class="<%= @profile_tab%>"><%= t("web-app-theme.profile", :default => "Profile") %></a></li>
          <li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
          <li>
            <a href="/logout"><%= t("web-app-theme.logout", :default => "Logout") %></a>
          </li>
          <% end %>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main" style="width:100%!important">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Google Trend.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>  
</body>
</html>
